body{
 background-image: linear-gradient(45deg, #e0b2c5, #ae83e2,#ff957a);  
 font-size: 12px;
}

.content{
	height: 1090px;

border: 10px solid white;
border-radius: 20px;
margin: auto;
position:relative; 
}
.content div{
  position: absolute;
}

h1{
 font-size:  5em;
}

.title {
  width:290px; 
  height:300px; 
  position:relative; 

  margin-top: 250px;
  margin-left: 30px;
}

.frame1{
  width:600px; 
  height:500px; 
  background-color: white;
 
  margin: auto; 
  margin-left:20px; 
  margin-top:600px; 
  border: 10px solid white;
border-radius: 10px;
}

.frame2{
  width:300px; 
  height:300px; 
  background-color: white;
  position:relative;
  margin-left:20px ; 
  border: 10px solid white;
border-radius: 20px;
}

.frame3{
  width:300px; 
  height:200px; 
  background-color: white;
  position:relative;
  margin: auto; 
}

.frame4{
  width:300px; 
  height:200px; 
  background-color: white;
  position:relative;
  margin: auto; 
}

.frame5{
  width:300px; 
  height:200px; 
  background-color: white;
  position:relative;
  margin: auto; 
}
