/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
  height: 100%;
 background-image: linear-gradient(45deg, #e0b2c5, #ae83e2,#ff957a);  
 box-sizing: border-box;
 font-size: 12px;
  font-family: "Inconsolata", sans-serif;
 border: 10px solid white;
border-radius: 20px;
margin: auto;
position:relative; 
}
/*
.content{
height: 100%;;
border: 10px solid white;
border-radius: 20px;
margin: auto;
position:relative; 
box-sizing: border-box;
}*/
/*
h1{
 font-size:  5em;
}

.title {
  margin: auto;
  height:300px; 
  position:relative; 
  margin-top: 250px;
  margin-left: 30px;
}

.frame1{
  width:420px; 
  height:400px; 
  box-sizing: border-box;
  border: 10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.frame2{
  width:420px; 
  height:400px; 
  box-sizing: border-box;
  background-color: white;
  position:relative;
  margin:auto ; 
  border: 10px solid white;
border-radius: 20px;
}
.frame3{
  width:420px; 
  height:400px; 
  box-sizing: border-box;
  background-color: white;
  position:relative;
  margin:auto ; 
  border: 10px solid white;
border-radius: 20px;
}
.frame4{
  width:420px; 
  height:400px; 
  box-sizing: border-box;
  background-color: white;
  position:relative;
  margin:auto ; 
  border: 10px solid white;
border-radius: 20px;
}
.frame5{
  width:420px; 
  height:400px; 
  box-sizing: border-box;
  background-color: white;
  position:relative;
  margin:auto ; 
  border: 10px solid white;
border-radius: 20px;
}
*/
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  /*background-image: linear-gradient(45deg, #e0b2c5, #ae83e2,#ff957a);  */
}

.bgimg{
  background-position: center;
  background-size: cover;
  background-image: url("https://cdn.britannica.com/22/206222-131-E921E1FB/Domestic-feline-tabby-cat.jpg");
  min-height: 75%;
}

.title{
  font-size: 90px;
  color: white;
  text-align: center;
}

.content{
  max-width: 700px;
  margin: auto;
}

.frame1{
  height: 500px;
  box-sizing: border-box;
 border:  10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.iframe1{
  width:100%;
}
.frame2{
  height: 500px;
  box-sizing: border-box;
 border:  10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.iframe2{
  width:100%;
}

.frame3{
  height: 500px;
  box-sizing: border-box;
 border:  10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.iframe3{
  width:100%;
}
.frame4{
  height: 500px;
  box-sizing: border-box;
 border:  10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.iframe4{
  width:100%;
}
.frame5{
  height: 500px;
  box-sizing: border-box;
 border:  10px solid white;
 background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px;
}
.iframe5{
  width:100%;
}