   * { 
            margin: 0;
            padding: 0;
        }

body{
  height: 100%;
  font-family: 'Roboto Slab', serif;
 background-image: url("https://i.imgur.com/lxgRxv0.png");
  /*background-image: linear-gradient(45deg, #e0b2c5, #ae83e2,#ff957a);  */
  
}

.cover{
  background-position: center;
  background-size: cover;
  background-image: url("https://i.imgur.com/wYJ23Wi.png");
   height: 500px;
  box-sizing: border-box;
  margin: auto;
  position:relative;
  border-radius: 20px; 
  animation: shake2 1s ease infinite;
}

h2{
font-size: 30px;
text-align: center;
 font-weight: 700;
 }

p{

  box-sizing: border-box;
  font-weight: 400;
    position:relative;
  /*border:  5px solid #6b6b6b;*/
  /*background-color: #f4e7c3;;*/

}

h3{
  font-size: 30px;
text-align: center;
}

strong{
 color: blue;
 animation: changecolo 2s infinite;

}

.title{
  font-size: 90px;
  color: white;
  text-align: center;
  animation: fadein 2s;
}

.content{
  max-width: 700px;
  margin: auto;
  background-color: #f7f1de;
  border:  20px solid #f7f1de;
  /*background-color: beige;*/

  
}

.iframe1, .iframe2, .iframe3, .iframe4, .iframe4-1, .iframe5{
  width:100%;
}

.frame1, .frame2, .frame4, .frame4-1, .frame5{
  height: 500px;
  box-sizing: border-box;
  border:  10px solid white;
  background-color: white;
  margin: auto;
  position:relative;
  border-radius: 20px; 
  animation: fadein 1s ease-in;
}
.frame3{
  width: 400px;
  height: 700px;
  box-sizing: border-box;
  border:  10px solid white;
  background-color: white;
  margin: auto;
  text-align: center;
  position:relative;
  border-radius: 20px; 
  animation: fadein 1s ease-in;
}

/*ANIMATION*/
h2:hover{
animation: shake 0.5s ease infinite;
}

@keyframes shake {
  0%{transform: rotate(0deg);}
  40%  {transform: rotate(5deg);}
  80% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes shake2 {
 0%, 100%{ transform: rotate(-8deg);}
    50%{ transform: rotate(6deg); }
  }
@keyframes fadein {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
@keyframes changecolo {
  0% {color: #e0b2c5;}
  50% {color: #ae83e2;}
  100% {color: #ff957a;}
}